@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

/* colores: rosa(#ff00d8), pepega(#65ff00), azul(#444c7c) */
/* FONTS:
Tiro Devanagari Sanskrit: font-family: 'Tiro Devanagari Sanskrit', serif;
Yatra One: font-family: 'Yatra One';
*/


.cabecera{
    width: 100%;
    height: 15;
    background-color: #444c7c;
}
.cabecera div{
    padding: 1%;
    color: #ECE9E4;
}
.cabecera div h1{
    font-size: 3em;
    font-family: 'Yatra One';
}

.principal{
    margin: 2vh;
}
.principal h2{
    font-size: 2em;
    margin-bottom: 20px;
}


.navegar-niveles{
    width: 5%;
    height: fit-content;
    float: left;
}
.navegar-niveles ul{
    margin-bottom: 10px;
    list-style: none;
}

.boton-navegacion{
    width: 90%;
    margin: 5%;
    padding: 10%;

    border: 1px solid #444c7c;
    border-radius: 5px;

    text-align: justify;
    display: block;
    cursor: pointer;
}
.boton-navegacion:active{
    background: #dddddd;
}
.boton-navegacion--active{
    background: #cfcfcf;
    border-right: 4px solid #444c7c;
}

.tabs__content{
    float: right;
    width: 95%;
}
.tabs__content--active{
    display: block;
}

.table-content{
    margin-bottom: 5vh;
    width: 100%;
    
    border: 1px solid #263238;
    border-left-width: 4px;
    background: #FFF;
    border-collapse: collapse;
    border-spacing: 0;

    text-align: justify;
}
.table-content tr th{
    padding: 8px;
    background-color: #444c7c;
    color: #ECE9E4;
}
.table-content tr td{
    padding: 8px;
}

.link-spell{
    text-decoration: none;
    color: #ff00d8;
    font-weight: bold;
}

.reserved-rights{
    display: flex;
    align-items: flex-end;
    bottom:0;
    width:100%;
    height:5vh;
    background:#444c7c;
}
.reserved-rights div{
    font-size: 1.5em;
    color: #FFF;
    
}

#link-haen{
    text-decoration: none;
    color: #ff00d8;
    font-style: italic;
    font-family: 'Yatra One';
}